<div class="body">

  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <h2>{{email.title}}</h2>
          <p>
            {{email.text}}
          </p>
          <a href="{{email.button.link}}" target="_blank" title="{{email.button.text}}">{{email.button.text}}</a>
          <p>
            {{email.button.link}}
          </p>
        </td>
      </tr>
    </tbody>
  </table>

</div>
